
@font-face {
  font-family: 'Xanh Mono';
  src: url('../fonts/XanhMono-Italic.woff2') format('woff2'),
      url('../fonts/XanhMono-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Xanh Mono';
  src: url('../fonts/XanhMono-Regular.woff2') format('woff2'),
      url('../fonts/XanhMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


body{
  font-family: 'Xanh Mono';
  font-size: 18pt;
  --paged-layout : booklet;
}

@media print {
  @page{
    size: 100mm 297mm;
    margin: 40px 40px 60px 40px;
    @bottom-center{
      content: counter(page);
    }
  }
  @page frontcover {
    @bottom-center{
      content: none;
    }
  }
  @page backcover {
    @bottom-center{
      content: none;
    }
  }
  @page blank {
    @bottom-center{
      content: none;
    }
  }
  .front-cover{ page: frontcover; }
  .back-cover{ page: backcover; }
  .blank { page: blank; break-before: always;}
  .pagedjs_added_page {  --color-paper: papayawhip; } /* added pages */

  .empty{
    page: blank;
    break-before: always;
  }

  .empty img{
    width: 70%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: multiply;
  }

  a { color: currentColor;}
  h1, h2, p { margin: 0;}

  p { display: inline; }
  
  /* 1re de couverture */
  .cover-1 {
    break-after: always;
    height: calc(var(--pagedjs-pagebox-height) - var(--pagedjs-margin-top) - var(--pagedjs-margin-bottom));
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .cover-1 h1 { font-size: 120pt; line-height: 1; }
  .cover-1 h1 span { display: block; }
  .cover-1 .byline { text-align: center;}
  /* L’A */
  span:nth-child(1) { text-align: left;}
  /* nar */
  span:nth-child(2) { text-align: right;}
  /* chi */
  span:nth-child(3) { text-align: left;}
  /* ste */
  span:nth-child(4) { text-align: right;}
  
  /* 4e de couverture */
  .colophon * { 
    font-size: 1em;
    font-weight: normal;
    display: block;
  }
  .colophon h2 {
    margin-bottom: 2em;
  }
  .colophon small {
    font-size: 50%;
  }
  .logo {
    width: 1cm;
    margin-bottom: .5cm;
  }
}
